body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    line-height: 1.6;
}

h1 {
    color: #333;
}

form {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
}

label {
    margin-top: 10px;
    display: block;
    color: #666;
}

input[type="email"],
select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background-color: #5cb85c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #4cae4c;
}

#discord-info {
    margin-bottom: 20px;
}

#payment-details-form {
    display: none;
}

#next-button {
    display: block;
}

#discord-auth {
    background-color: #7289da;
    color: white;
}

#discord-auth:hover {
    background-color: #677bc4;
}

