<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Title</title>
    <link rel="stylesheet" type="text/css" href="static/index.css">
</head>
<body>
    <h1>User Details</h1>
    <form action="/confirmation" method="post">
      <label for="email">Email:</label><br>
      <input type="email" id="email" name="email"><br>
      <label for="discord">Discord ID:</label><br>
      <input type="text" id="discord" name="discord"><br>
      <input type="submit" value="Submit">
    </form>

</body>
</html>

